.nav-main ul {
    display: flex;
    color: grey;    
}

/*
.nav-main li {
    margin-right: .5em;      
}
*/
.nav-main span{
    margin: 0 .5em;
    color: aquamarine;
}

.nav-main li:last-child span{
    display: none;
}

.nav-main li:last-child {
    margin-right: 0;
}


.nav-main a {
    color:blue;
}

.nav-main a:hover {
    text-decoration: underline;
}

.nav-main .separator {
    color: #ccc;
}

.nav-main .current-menu-item a{
    color:darkgrey
}