.nav-main ul {
    display: flex;
    color: grey;    
}

/*
.nav-main li {
    margin-right: .5em;      
}
*/
.nav-main span{
    margin: 0 .5em;
    color: aquamarine;
}

.nav-main li:last-child span{
    display: none;
}

.nav-main li:last-child {
    margin-right: 0;
}


.nav-main a {
    color:blue;
}

.nav-main a:hover {
    text-decoration: underline;
}

.nav-main .separator {
    color: #ccc;
}

.nav-main .current-menu-item a{
    color:darkgrey
}

/* nav pagination */
.nav-pagination .page-numbers {
    margin-right: .5em;
}

.nav-pagination span.separator {
    margin-left: .5em;    
    color: #ccc;
}

.nav-pagination span.page-numbers {    
    color: grey;
}

.nav-pagination a:hover {
    text-decoration: underline;
}

.nav-pagination a:hover span {
    display: inline-block;
    text-decoration: none;
}

.nav-pagination a:nth-last-child(2) span {
    display: none;
}
